<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to 'Clean', socks_path, nav_link_attributes(socks_path, root_path) %>
  </li>
  <li class="nav-item">
    <%= link_to 'Dirty', dirty_socks_path, nav_link_attributes(dirty_socks_path) %>
  </li>
</ul>
