<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
  <h1 class="h2">Dirty socks</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <%= link_to 'New Sock', new_sock_path, class: 'btn btn-sm btn-primary' %>
  </div>
</div>

<%= render 'tabs' %>

<%= render 'table', locals: { socks: @socks } %>
