<h2>Socks</h2>

<table class="table table-light table-striped">
  <thead>
    <tr>
      <th>Code name</th>
      <th>First name</th>
      <th>Last name</th>
    </tr>
  </thead>

  <tbody>
    <% @socks.each do |sock| %>
      <tr>
        <td><%= link_to sock.code_name, sock %></td>
        <td><%= sock.first_name %></td>
        <td><%= sock.last_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sock', new_sock_path %>
