<h2>Other Options</h2>
<ul>
  <li><%= link_to 'Forgot Password?', rodauth.reset_password_request_path %></li>
  <li><%= link_to 'Resend Verify Account Information', rodauth.verify_account_resend_path %></li>
</ul>
